<div data-control="toolbar"
     class="loading-indicator-container">
    <a
            href="javascript:"
            data-request="onRefresh"
            data-load-indicator="<?= e(trans('backend::lang.list.updating')) ?>"
            class="btn btn-primary oc-icon-refresh">
        <?= e(trans('backend::lang.list.refresh')) ?>
    </a>
    <a
            href="javascript:"
            data-request="onEmptyLog"
            data-request-confirm="<?= e(trans('adrenth.redirect::lang.redirect.truncate_confirm')) ?>"
            data-load-indicator="<?= e(trans('adrenth.redirect::lang.redirect.truncating')) ?>"
            class="btn btn-default oc-icon-eraser">
        <?= e(trans('adrenth.redirect::lang.buttons.empty_redirect_log')) ?>
    </a>
    <button
            class="btn btn-default oc-icon-trash-o"
            disabled="disabled"
            onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
            data-request="onDelete"
            data-trigger-action="enable"
            data-trigger=".control-list input[type=checkbox]"
            data-trigger-condition="checked"
            data-request-success="$(this).prop('disabled', true)"
            data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
</div>
